<nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background-color: transparent">
  <div class="container justify-content-end">
      <a onmouseenter="appear('aboutContainer')" onmouseleave="dissappear('aboutContainer')" id="aboutLink" class="navbar-link">About</a>
  </div>
</nav>

<div id="aboutContainer" class="container"> 
    <div class="row">
        <div id="concept" class="offset-md-1 col-10 col-md-5">
            <h3>Concept:</h3>
            A non-utility website where people can enter the city that they are in, along with keywords regarding what store they are looking for. From there, the website will spit out a store in the city that contains most if not all of the keywords the user entered. They can repeat that until they are bored or until a desired result is given.
        </div>

        <div id="execution" class="col-10 col-md-5">
            <h3>Execution:</h3>
            I use the google Places API to help find the location that the user input, using it for the backdrop and for the location of the store. I then have the user enter keywords that describe what they are looking for. They need a minimum of 2 keywords before a store can be generated for them. 
        </div>
    </div>
</div>
