<nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background-color: transparent">
  <div class="container justify-content-end">
      <a onmouseenter="appear('aboutContainer')" onmouseleave="dissappear('aboutContainer')" id="aboutLink" class="navbar-link">About</a>
  </div>
</nav>

<div id="aboutContainer" class="container"> 
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et elit vel dolor feugiat maximus a eu velit. Phasellus euismod justo et nunc semper ornare id nec magna. Proin ullamcorper dapibus ligula ac scelerisque. Fusce volutpat, orci vitae suscipit porttitor, quam quam molestie elit, in ultrices nulla eros et quam. Donec blandit risus sed dui pretium volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi ut pharetra libero, quis aliquet sapien. Curabitur nec facilisis lacus, non hendrerit tellus. Fusce lorem arcu, rutrum vel orci nec, interdum feugiat nibh. Fusce congue vel mi eget vestibulum. Maecenas tincidunt sem felis, eu volutpat nisi tempor quis. Cras vitae tincidunt odio, at rhoncus sapien. Proin vel lectus vitae risus egestas lacinia.
    </div>
</div>
